.gradle/
.idea/

app/app.iml
app/build/
app/build.gradle
app/libs/
app/proguard-rules.pro
app/src/androidTest
app/src/test

build/
build.gradle
gradle/
gradle.properties
gradlew*
local.properties
Miwok.iml
settings.gradle
